.l-painel
  position: fixed
  display: grid
  grid-template-columns: 260px 1fr
  width: 100vw
  height: 100vh
  left: 0
  top: 0
  grid-auto-rows: min-content
  @media (max-width: 768px)
    grid-template-columns: 1fr
  &__leftnav
    background-color: #FFF
    display: grid
    height: 100vh
    border-right: 1px solid rgba(0,0,0,0.1)
    @media (max-width:  768px)
      display: none

  &__header
    height: 80px

  &__content
    padding: 20px 5%
    max-height: calc(100vh - 80px)
    padding-bottom: 100px
    overflow: auto
    width: 100%
    height: 100%
    @media (max-width: 768px)
      padding: 16px 8px
      padding-bottom: 80px
    &-advice
      font-size: 16px
      padding: 8px 16px
      margin-bottom: 16px
      background-color: #c9c6ef
      font-weight: 500
      border-radius: 8px
  &__right
    max-width: calc(100vw - 260px)
    height: 100vh
    @media (max-width: 768px)
      max-width: 100%
